.confirmacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.confirmacion-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmacion-header {
  color: #33e5bc;
}

.confirmacion-item {
  margin-bottom: 30px;
}

button {
  background: rgb(0, 132, 255);
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
}
