body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(0, 132, 255);
}

.pedido-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table thead {
  background-color: rgb(0, 132, 255);
  color: white;
}

table th,
table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

p {
  text-align: center;
  font-size: 1.2em;
  color: #777;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.5em;
  }
}
